* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.headerBackground {
    width:100%;
    height:900px;
    background: url(../images/headerBg.png) no-repeat;
    background-size:cover;
}

.headerBoxText {
    height:60vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.containerInside {
    width:80%;
    margin:0 auto;
}

nav {
    width:100%;
    height: 15vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display:flex;
    padding: 25px; 50px;
}

.navigation input {
    border-radius:50px;
    width:50%;
    border:none;
    height:40px;
    background-color: #343c48;
    margin:10px;
    color:white;
    padding:0 30px;
    font-size:1.2rem;
}

.navigation button {
    border-radius:50px;
    width:150px;
    border:none;
    height:40px;
    background-color: #835fa8;
    margin:10px;
    color:white;
}

.headerDesc {
    color:white;
    width:40%;
}

.headerDesc h1 {
    font-size:3rem;
    
}
/* SEKCJA 1 ////////////////////*/

.phoneBackground {
    height:500px;
    width:100%;
    background-color: #835fa8;

}

.phoneBoxes {
    display:flex;
    align-items: center;
    flex-direction: row;
    height:100%;
    
}

.superDuper {
    display:flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    width:40%;
    height:100%;
}

.superDuper h2 {
    font-size: 2.6rem;
    color:white;
}

.superDuper p {
    font-size: 1.3rem;
    color:white;
}

.superDuper button {
    font-size: 1rem;
    color:white;
    border:none;
    background-color: #3dd2ae;
    width:30%;
    height: 10%;
    border-radius:50px;
}

.superDuperPhoto {
    display: flex;
    justify-content: center;
    width:60%;
    
}

.superDuper p {
    margin: 35px 0;
}

.superDuperPhoto img {
    z-index: 1;
}

/* section 3 /////////*/

.aboutBackground {
    height:550px;
    width:100%;
    background-color: white;
    
}

.aboutBoxes {
     display:flex;
    align-items: center;
    flex-direction: row;
    height:100%;
    
    
}

.box {
    width:33.333333%;
    height:80%;
    z-index: 2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.box button {
    font-size: 1rem;
    color:white;
    border:none;
    background-color: #3dd2ae;
    width:30%;
    height: 10%;
    border-radius:50px;
}

/* section 4 /////////*/

.designedBackground {
    height:600px;
    width:100%;
    background-color: #232831;
}

.designedBoxes {
     display:flex;
    align-items: center;
    flex-direction: column;
    height:100%;
    text-align: center;

}

/* section 5 */

.productionBackground {
    height:550px;
    width:100%;
    background-color: #2b303b;
     
}

.productionBoxes {
    display:flex;
    align-items: center;
    flex-direction: row;
    height:100%;
    
}

.productionBox {
    width:25%;
    height:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    
}

.productionBox h3{
    color:white;
}

.productionBox h3 span {
    color:#3a4d60;
}

/* section conectiivty */

.conectivityBackground {
    background-color:#e9eef1;
}

.conectivityBoxes {
     display:flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height:100%;
    
    
}

.conectivity {
    width:40%;
    height: 550px;
    
}

.conectivityImg{
    width:60%;
    height: 550px;
}

.conectivityImg img{
    width:120.89%;
    height: 100%;
}

.phoneFilm {
    width:40%;
    height: 450px;
    
}


.phoneFilm img{
    width:100%;
    height: 100%;
}

.phoneFilmText {
    width:60%;
    height:450px;
    background-color: #835fa8;
    
}

.twoPhones {
    width:40%;
    height:350px;
}

.twoPhonesImg {
    width:60%
}

.twoPhonesImg img {
    width: 100%;
    height:100%;
}


/* section 6 */

.commentBackground {
    height:750px;
    width:100%;
    background: url(../images/handwithpen.png) no-repeat center/cover;

}

.commentBackgound {
    width:50%;
    height:70%;
    background-color: #835fa8;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}

.commentPurpleText {
    width:40%;
    height:70%;
    background-color: #835fa8;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    z-index:3;
}

.commentBackgroundPurple {
    width:32%;
    height:50%;
    position:absolute;
    background-color: #835fa8;
    z-index: 2;

}



/* footer */

.footerBackground {
    height:550px;
    width:100%;
    background-color: #1a2124; 
}